body {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin-bottom: 20px;
}

canvas {
    background-color: #000;
    border: 2px solid #fff;
}

.tuner-link-container {
    margin-top: 20px;
}

.tuner-link-container a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}